/.vs
/Ecom.APIGateway/.vs
/Ecom.APIGateway/bin
/Ecom.APIGateway/obj
/Ecom.CartService/.vs
/Ecom.CartService/bin
/Ecom.CartService/obj
/Ecom.ProductService/.vs
/Ecom.ProductService/bin
/Ecom.ProductService/obj
/Ecom.OrderService/.vs
/Ecom.OrderService/bin
/Ecom.OrderService/obj
/Ecom.Common/.vs
/Ecom.Common/obj
/Ecom.Common/bin
Ecom.ProductService/Ecom.ProductService.Contracts/.vs
Ecom.ProductService/Ecom.ProductService.Contracts/bin
Ecom.ProductService/Ecom.ProductService.Contracts/obj
**/bin/
**/obj/
**/NuGet.Config
**/*.dll
Ecom.Infra/.env
